body{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
   background-color: #0d0d1f;
}
button{
    font-family: 'Maven Pro', sans-serif;
}


/* header */
header{
    width: 100%;
    height: 600px;
    position: relative;
    transition: background-image 1s ease;
    margin: 0;
}
.div-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(img/ab5f2c6bad22fae90effb5fd64fa196f.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
    transition: background-image 1s ease;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    color: white;
}
.header-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-main li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}
.header-li a {
    text-decoration: none;
    color: white;
    transition: color 1s ease;
}
.header-li a:hover{
    color:yellow ;
}
.header-main form{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.header-main input{
    width: 200px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    background: transparent;
}
.header-main-button {
    background: transparent;
    position: absolute;
    border: none;
    right: 10px;
}
.button-icon{
    height: 20px;
    width: 20px;
    color: white;
}

.header-icon{
    height: 30px;
    width: 30px;
    color: yellow;
}


/* header-section */
.header-section{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: 20px;
    position: absolute;
    top: 340px;
    margin-left: 200px;
}

.header-section-banner{
    width: 350px;
    height: 320px;
    background-image: url(img/ab5f2c6bad22fae90effb5fd64fa196f.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    
}
.header-section-text{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.header-section-text-h1{
    font-size: 40px;
    color: white;
    margin-bottom: 0;
}

.header-section-text-p{
    font-size: 12px;
    color: rgb(188, 188, 188);
    margin-top: 0;
}
.text-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.text-button-one{
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: yellow;
    border: none;
}
.price{
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-button-two{
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.button-icon{
    color: white;
}


/* categories */
.categories{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.categories-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.categories-card{
    width: 25%;
    height: 150px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories-card-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    position: absolute;
    z-index: -1;
}

.categories-card h1{
    color: white;
}


/* Featured-games */
.Featured-games{
    width: 100%;
    height: 500px;
    margin-top: 100px;
   overflow: hidden;
   position: relative;
}

.Featured-game-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.Featured-game-texts h1{
    font-size: 30px;
    color: white;
    border-left: 4px solid yellow;
    padding-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.Featured-games-img{
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: #2a2a6b;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}
.Featured-game-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.Featured-game-cards-cardd{
    width: 50%;
    height: 400px;
}
.featured-game-card{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.featured-game-card-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/532397-assassins-creed-2-hd-wallpaper-background-download.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    z-index: -1;
}

.featured-game-card-text{
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.featured-game-card-text h1{
    color: white;
}

.featured-game-card-divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 20%
}
.card-div{
    width: 100%;
    height: 90px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.card-div p{
    color: white;
}
.featured-game-img{
    border-radius: 15px;
}


/* discount-game */
.discount-game{
    
    margin-top: 100px;
    width: 100%;
}
.discount-game-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}
.discount-game-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.discount-game-texts h1{
    font-size: 30px;
    color: white;
    border-left: 4px solid yellow;
    padding-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}
.discount-game-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.discount-game-button-one{
    width: 100px;
    padding: 5px;
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 20px;
    color: white;
}

.discount-game-button-two{
    border: none;
    background-color: rgba(0, 0, 0, 0.523);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}
.ion-icon{
    color: white;
}
.discount-game-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.discount-game-card{
    width: 30%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.discount-game-img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    transition: transform 1s, filter 1s ease;
    z-index: -1;
}
.discount-game-card-text{
    position: absolute;
    bottom: 30px;
    left: 10px;
}



/* table-games */
.table-games{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    margin-top: 100px;
}

.top-rated{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width:40%;
    border-right: 3px solid yellow;
    padding-right: 30px;
}

.top{
    border: none;
}
.top-rated-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-rated-texts h1{
    color: white;
}
.table-games-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.top_sellers_games{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.most-played-games{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    
}

.table-games-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    height: 120px;
    border-radius: 20px;
    position: relative;
    transition: background-color 1s, color 1s ease;
}

.table-games-card-img{
    height: 80%;
    width: 23%;
    margin-left: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/* free-games */
.free-games{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.free-games-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* our_games */
.our_games{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    gap: 200px;
}
.our_games_banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ottenok{
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0px 0px 100px 100px yellow;
}
.our_games_banner img{
    position: absolute;
    height: 500px;
}

.our_games_texts{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    gap: 30px;
}

.our_games_texts h1{
    font-size: 40px;
    color: yellow;
    margin: 0;
}
.our_games_texts p{
    color: white;
}
.our_games_texts button{
    border: none;
    background-color:yellow;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px yellow;
}
.Browse-All{
    cursor: pointer;
}


/* games */
.games{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
}
.games_game{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, blueviolet, aqua );
}
.games_game-element{
    height: 100%;
    width: 50%;
    position: relative;
}
.games_game-img{
    height: 400px;
    width: 320px;
    position: absolute;
    left: 100px;
    bottom: 0;
    background-size: 100% 100%;
}
.games_game-texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.games_game-texts img{
    margin: 0;
}

.games_game-texts hr{
    margin: 0;
    padding: 0;
    width: 400px;
    border: 1px solid yellow;
}
.games_game-texts p{
    margin: 0;
    text-align: center;
}

.games_game_2{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(254, 167, 4), yellow );
}

.games_game-img-2{
    height: 400px;
    width: 650px;
    position: absolute;
    left: 0px;
    bottom: 0;
    background-size: 100% 100%;
}

.games_game_3{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,red ,  blueviolet);
}

.games_game-img_3{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50px;
    bottom: 0;
    background-size: 100% 100%;
}


/* footer */

footer{
    width: 100%;
    height: 230px;
    background-color: #1f1f4b;
    margin-top: 100px;
}
.footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-elements h1{
    color: yellow;
}

.footer-elements a{
    text-decoration: none;
    color: white;

}

.footer-elements p{
    color: white;
}
.footer-element-a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.footer-element-icon{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.ion-icons{
    width: 25px;
    height: 25px;
}

